/*所有页面实现毛玻璃特效*/
#aside-content{
    background: rgba(255,255,255,0);
}

#aside-content > .card-widget:first-child {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}

#aside-content .card-widget {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}

.layout > div:first-child:not(.recent-posts) {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}

#recent-posts > .recent-post-item {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}
/*标题栏*/
#page-header.nav-visible #nav {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(50px);
}
/*搜索框美化*/
.search-dialog {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    border-radius: 0px;
}

#search-mask {
    background: rgba(255,255,255,0);
}
/*手机端毛玻璃优化*/
#sidebar #sidebar-menus.open {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}

#sidebar #menu-mask {
    background: rgba(255,255,255,0);
}
