#effect_shade{
    /* width:40%!important; */
    height: 200px;
    background-color: var(--lyx-white-acrylic1)!important;
    border-radius: 8px;
    /* margin-right: 10px !important; */
    font-family: PingFang,微软雅黑,HYTMR,SimSun;
    background-size:cover;
    color: #00000000;
    font-size:40px; /*觉得小可以开大一点*/
    position: relative;
}
#effect_shade-banner{
    width:100%!important;
    height:100%!important;
    border-radius:8px;
}
#effect_shade-hover{
    position:absolute;
    right:0%;
    height:100%!important;
    color:var(--lyx-0);
    border-radius: 8px;
    padding-left: 5%;
    padding-top: 5%;
}
#effect_shade-hover:hover{
   color:#ffffff;
   background-color: #669900dd;
   backdrop-filter: blur(10px) saturate(180%);
   -webkit-backdrop-filter: blur(10px) saturate(180%);
}

/* 这是为了无缝侧边栏 */
.seamless-card{
    padding: 0px!important;
}
.seamless-card .item-headline{
    padding-bottom: 0px!important;
    height: 0px!important;
}

